<!-- ============ TEXTO ============ -->
<section class="section section--tight"{{ b | estiloSeccion | safe }}>
  <div class="container">
    <article class="prose">
      {{ b.contenido | safe }}
    </article>
  </div>
</section>
