---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for p in collections.all | sort(false, false, "url") %}
{% if p.url and not p.data.noindex and not (p.data.sitemap and p.data.sitemap.excluir) %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>{{ ahora.toISOString().slice(0, 10) }}</lastmod>
    <changefreq>{{ p.data.sitemap.frecuencia or "monthly" }}</changefreq>
    <priority>{{ p.data.sitemap.prioridad or "0.8" }}</priority>
  </url>
{% endif %}
{% endfor %}
</urlset>
